<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <Authorizing>
                    <MudPaper Elevation="0" Height="500px">
                        <MudText Typo="Typo.h5">Determining session state, please wait...</MudText>
                    </MudPaper>
                </Authorizing>
                <NotAuthorized>
                    <MudPaper Elevation="0" Height="500px">
                        @if (context.User.Identity?.IsAuthenticated != true)
                        {
                            <RedirectToLogin />
                        }
                        else
                        {
                            <p role="alert">You are not authorized to access this resource.</p>
                        }
                    </MudPaper>
                </NotAuthorized>
            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <MudPaper Elevation="0" Height="500px">
                    <p role="alert">Sorry, there's nothing at this address.</p>
                </MudPaper>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>
